{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Lea café has brought the Open Kitchen restaurant and Fresh Beans Coffee varieties concept where you can enjoy a variety of dishes each prepared by the expert chef to give you the best dining experience. We provide you with a wide variety of dishes to choose from, each created with the perfection which you can enjoy with your family and friends in a peaceful environment.
            Upholding our motto of healthy eats wealthy treats, Lea café only serves fresh, hygienic, and highest quality food to our valuable customers in a due time. With an open kitchen concept, we are established to fill up the need of a place where quality comes with consistency in terms of both foods and services, and a place where you can meet, relax and have a great time together.
            Serving more than hundred varieties of tea and coffee made from fresh beans, Lea café is also a great place for the coffee enthusiast. Enjoy the conversation with a wide variety of coffee and exotic dishes to choose from, in an environment built with the perfect ambience which can serve you in both your personal and professional needs with Lea café.</p>
            <h5>Our Vision</h5>
            <p>To be the benchmark in hospitality sector for the quality and service we provide.</p>
            <h5>Our Mission</h5>
            <p>To serve healthy and hygienic food with unparalleled services with the high level of consistency to our valuable customers.</p>
            <h5>Personal </h5>
            <p>We will treat each and every Guest as unique individual providing sincere and empathetic service that makes our guest feel genuinely cared for.</p>
            <h5>Our Goal</h5>
            <p>Our entire staff is committed to serving only the highest quality of food and Beverage. With a wide variety of menu items, there's sure to be something for everyone in your party to enjoy.
            Our entire staff is anticipated the needs of our guests and exceed their expectation with attentive touches of our committed services with best food and beverage in the town creating lifelong memories.</p>


        </div>
    </div>
</div>
{% endblock content %}